registry=https://registry.npmmirror.com
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3
canvas_binary_host_mirror=https://npmmirror.com/mirrors/canvas
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips