#为项目单独设置镜像
registry=https://registry.npmmirror.com
# canvas
canvas_binary_host_mirror=https://ghproxy.com/https://github.com/Automattic/node-canvas/releases/download/
# node-sass
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
# sqlite3
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3
# TFJS
TFJS_NODE_CDN_STORAGE=https://cdn.npmmirror.com/binaries/
# pup
PUPPETER_DOWNLOAD_BASE_URL=https://npmmirror.com/mirrors/chrome-for-testing
# 不生成lock
package-lock=false
# 改为 npm 依赖安装方式
node-linker=hoisted
# 可耻的提升
shamefully-hoist=true
# 严格的对等依赖关系
strict-peer-dependencies=false
#
sharp_binary_host=https://npmmirror.com/mirrors/sharp
#
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips