*
!.gitignore

!genshin
!genshin/**
genshin/config/*

!system
!system/**

!other
other/**
!other/restart.js
!other/sendLog.js
!other/update.js
!other/setPubCk.js
!other/version.js

!example
example/**
!example/一言.js
!example/主动复读.js
!example/进群退群通知.js

*.psd
*.map